<form id="fooForm">
    <input type="hidden" name="bar" value="{{bar}}">
    <div>
        <label>
            <span style="width: 50px; display: inline-block;">Bas:</span>
            <span>
                <input type="text" name="bas" maxlength="60" size="60" value="{{bas}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div style="padding-top: 8px;">
        <label>
            <span style="width: 50px; display: inline-block; vertical-align: top;">Boo:</span>
            <span>
                <textarea style="width: 500px; height: 45px; resize: none;"
                          id="boo"
                          name="boo"
                          maxlength="360">{{boo}}</textarea>
                {{#with errors}}
                    {{#if booError}}
                        <span style="color: red; font-weight: bold;">
                            Boo: {{booError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <br>
    <button hx-target="#formAndTable"
            hx-select="#formAndTable"
            hx-swap="outerHTML"
            hx-post="foo/upsert"
            hx-include="[name='page']"
            style="display: inline-flex">
        <img src="https://img.icons8.com/?size=14&id=18764&format=png&color=000000" alt="Cadastrar item">
        &nbsp;
        {{#if bar}}
            Atualizar
        {{^}}
            Cadastrar
        {{/if}}
    </button>
    {{#if bar}}
        <button hx-target="#fooForm"
                hx-select="#fooForm"
                hx-swap="outerHTML"
                hx-get="foo/edit"
                style="display: inline-flex">
            <img src="https://img.icons8.com/?size=14&id=59754&format=png&color=000000" alt="Cadastrar item">
            &nbsp;
            Cancelar
        </button>
    {{/if}}
</form>