<form id="gerenteForm">
    <div>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">Nome:</span>
            <span>
                <input type="text" required name="nm_gerente" maxlength="100" size="50" value="{{nm_gerente}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">CPF:</span>
            <span>
                <input type="text" required id="nr_cpf" name="nr_cpf" maxlength="11" size="11" value="{{nr_cpf}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">Data de contratação:</span>
            <span>
                <input type="date" required name="dt_contratacao" maxlength="10" size="10" value="{{dt_contratacao}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">Data de nascimento:</span>
            <span>
                <input type="date" required name="dt_nascimento" maxlength="10" size="10" value="{{dt_nascimento}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">Telefone:</span>
            <span>
                <input type="text" required id="nr_telefone" name="nr_telefone" maxlength="11" size="11" value="{{nr_telefone}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">E-mail:</span>
            <span>
                <input type="email" required name="ds_email" maxlength="100" size="50" value="{{ds_email}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">Cidade:</span>
            <span>
                <input type="text" required name="nm_cidade" maxlength="100" size="50" value="{{nm_cidade}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">Estado:</span>
            <span>
                <select name="nm_estado" required>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                </select>

                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;text-align:end;">% comissão:</span>
            <span>
                <input type="text" required id="pc_comissao" name="pc_comissao" maxlength="5" size="5" value="{{pc_comissao}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <br>
    <button hx-target="#formAndTable"
            hx-select="#formAndTable"
            hx-swap="outerHTML"
            hx-post="gerente/upsert"
            hx-include="[name='page']"
            style="display: inline-flex">
        <img src="https://img.icons8.com/?size=14&id=18764&format=png&color=000000" alt="Cadastrar item">
        &nbsp;
        {{#if bar}}
            Atualizar
        {{^}}
            Cadastrar
        {{/if}}
    </button>
    {{#if bar}}
        <button hx-target="#gerenteForm"
                hx-select="#gerenteForm"
                hx-swap="outerHTML"
                hx-get="gerente/edit"
                style="display: inline-flex">
            <img src="https://img.icons8.com/?size=14&id=59754&format=png&color=000000" alt="Cadastrar gerente">
            &nbsp;
            Cancelar
        </button>
    {{/if}}
</form>