<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Gerente View</title>
    {{>head}}
</head>
<body>

<h1>Cadastro e consulta - Gerente</h1>
<hr>

<div id="formAndTable">
    {{>gerente/form gerente}}

    <hr>

    <div id="gerenteItemsTable">
        <input type="hidden" name="page" value="{{index}}">

        <div style="display: inline-flex; padding-bottom: 12px;">
            {{#if hasPrevious}}
                <img src="https://img.icons8.com/?size=18&id=100033&format=png&color=000000"
                     alt="Página anterior"
                     style="cursor: pointer; width: 18px; height: 18px; padding-right: 4px"
                     hx-target="#gerenteItemsTable"
                     hx-select="#gerenteItemsTable"
                     hx-swap="innerHTML"
                     hx-get="gerente?page={{previous}}">
            {{/if}}

            <span style="height: 18px; vertical-align: center;">
                Pagina <b>{{page}}</b> de <b>{{totalPages}}</b>
            </span>

            {{#if next}}
                <img src="https://img.icons8.com/?size=18&id=98967&format=png&color=000000"
                     alt="Próxima página"
                     style="cursor: pointer; width: 18px; height: 18px; padding-left: 4px"
                     hx-target="#gerenteItemsTable"
                     hx-select="#gerenteItemsTable"
                     hx-swap="innerHTML"
                     hx-get="gerente?page={{next}}">
            {{/if}}
        </div>

        <table>
            <thead>
            <tr>
                <th style="width: 40px; text-align: right;">Gerente</th>
                <th style="width: 200px; text-align: left;">Bar</th>
                <th style="width: 300px; text-align: left;">Bas</th>
                <th style="width: 50px">Ação</th>
            </tr>
            </thead>
            <tbody>
            {{#gerentes}}
                {{>gerente/row}}
            {{/gerentes}}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>