<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Gerente View</title>
    {{>head}}
</head>
<body>

<h1>Cadastro de Gerentes</h1>
<hr>

<div id="formAndTable">
    {{>gerente/form gerente}}

    <hr>

    <div id="gerenteItemsTable">
        <input type="hidden" name="page" value="{{index}}">

        <div style="display: inline-flex; padding-bottom: 12px;">
            {{#if hasPrevious}}
                <img src="https://img.icons8.com/?size=18&id=100033&format=png&color=000000"
                     alt="Página anterior"
                     style="cursor: pointer; width: 18px; height: 18px; padding-right: 4px"
                     hx-target="#gerenteItemsTable"
                     hx-select="#gerenteItemsTable"
                     hx-swap="innerHTML"
                     hx-get="gerente?page={{previous}}">
            {{/if}}

            <span style="height: 18px; vertical-align: center;">
                Pagina <b>{{page}}</b> de <b>{{totalPages}}</b>
            </span>

            {{#if next}}
                <img src="https://img.icons8.com/?size=18&id=98967&format=png&color=000000"
                     alt="Próxima página"
                     style="cursor: pointer; width: 18px; height: 18px; padding-left: 4px"
                     hx-target="#gerenteItemsTable"
                     hx-select="#gerenteItemsTable"
                     hx-swap="innerHTML"
                     hx-get="gerente?page={{next}}">
            {{/if}}
        </div>

        <table>
            <thead>
            <tr>
                <th style="width: 40px; text-align: right;">Código</th>
                <th style="width: 200px; text-align: left; cursor:pointer;">Nome <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="gerente?page={{index}}&orderBy=NOME:ASC">^</span> <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="gerente?page={{index}}&orderBy=NOME:DESC">v</span></th>
                <th style="width: 300px; text-align: left;">CPF</th>
                <th style="width: 300px; text-align: left;">Telefone</th>
                <th style="width: 300px; text-align: left;">E-mail</th>
                <th style="width: 300px; text-align: left;  cursor:pointer;">Cidade <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="gerente?page={{index}}&orderBy=CIDADE:ASC">^</span> <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="gerente?page={{index}}&orderBy=CIDADE:DESC">v</span></th>
                <th style="width: 300px; text-align: left;">Estado</th>
                <th style="width: 300px; text-align: left;">Percentual comissão</th>
                <th style="width: 300px; text-align: left;  cursor:pointer;"
                    hx-target="#gerenteItemsTable"
                    hx-select="#gerenteItemsTable" >Data contratação <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="gerente?page={{index}}&orderBy=DTCONTRATACAO:ASC">^</span> <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="gerente?page={{index}}&orderBy=DTCONTRATACAO:DESC">v</span></th>
                <th style="width: 50px">Ação</th>
            </tr>
            </thead>
            <tbody>
            {{#gerentes}}
                {{>gerente/row}}
            {{/gerentes}}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>