<tr id="gerenteItem{{nr_cpf}}">
    <td class="formataCpf" style="width: 100px;  text-align: left;">{{nr_cpf}}</td>
    <td style="width: 100px; text-align: left;">{{nm_gerente}}</td>
    <td style="width: 100px; text-align: left;">{{ds_email}}</td>
    <td style="width: 100px; text-align: left;">{{dt_contratacao}}</td>
    <td style="width: 100px;  text-align: left;">{{dt_nascimento}}</td>
    <td class="formataTel" style="width: 100px; text-align: left;">{{nr_telefone}}</td>
    <td style="width: 100px;  text-align: left;">{{nm_cidade}}</td>
    <td style="width: 100px; text-align: left;">{{nm_estado}}</td>
    <td class="formataCom" style="width: 100px; text-align: left;">{{pc_comissao}}</td>
    <td style="width: 80px">
        <img src="https://img.icons8.com/?size=18&id=71201&format=png&color=000000"
             alt="Editar item"
             style="cursor: pointer"
             hx-target="#gerenteForm"
             hx-replace="innerHTML"
             hx-get="gerente/edit?nr_cpf={{nr_cpf}}">

        <img src="https://img.icons8.com/?size=18&id=67884&format=png&color=000000"
             alt="Apagar item"
             style="cursor: pointer"
             hx-target="#formAndTable"
             hx-select="#formAndTable"
             hx-replace="innerHTML"
             hx-get="gerente/delete?nr_cpf={{nr_cpf}}"
             hx-include="[name='page']">
    </td>
</tr>