<div class="container" id="veiculos_lista">
    <form
            hx-get="/hackathon/veiculos/listar"
            hx-target="#veiculos_lista"
    >
        <div class="container d-flex gap-2">
            <div class="mb-3 ">
                <label for="marca" class="form-label">Marca</label>
                <input
                        placeholder="Informe a marca:"
                        type="text"
                        class="form-control"
                        id="marca"
                        name="marca"
                        value="{{marca}}"
                >
            </div>
            <div class="mb-3">
                <label for="modelo" class="form-label">Modelo</label>
                <input
                        placeholder="Informe o modelo:"
                        type="text"
                        class="form-control"
                        id="modelo"
                        name="modelo"
                        value="{{modelo}}"
                >
            </div>
            <div class="mb-3">
                <label for="anofabricacao" class="form-label">Ano de fabricação</label>
                <input
                        placeholder="Informe o ano:"
                        type="number"
                        class="form-control"
                        id="anofabricacao"
                        name="anofabricacao"
                        value="{{anofabricacao}}"
                >
            </div>
            <div class="mb-3">
                <label for="placa" class="form-label">Placa</label>
                <input
                        placeholder="Informe a placa:"
                        type="text"
                        class="form-control"
                        id="placa"
                        name="placa"
                        value="{{placa}}"
                >
            </div>
            <div class="mb-3">
                <label for="cor" class="form-label">Cor</label>
                <input
                        placeholder="Informe a cor:"
                        type="text"
                        class="form-control"
                        id="cor"
                        name="cor"
                        value="{{cor}}"
                >
            </div>
            <div class="mb-3">
                <label for="tipocombustivel" class="form-label">Tipo de Combustivel</label>
                <input
                        placeholder="Informe a combustivel:"
                        type="text"
                        class="form-control"
                        id="tipocombustivel"
                        name="tipocombustivel"
                        value="{{tipocombustivel}}"
                >
            </div>
            <div class="mb-3 d-flex flex-column justify-content-end">
                <div class="d-flex align-items-center gap-2">
                    <button
                            class="btn btn-primary"
                            type="submit"
                            id="fazConsultaVeiculos"
                    >
                        Consultar
                    </button>
                    <button
                            class="btn btn-primary"
                            type="reset"
                            hx-get="/hackathon/veiculos/listar?marca=&modelo=&cor=&anofabricacao=&proximaPagina=false&numeroPagina=0"
                            hx-target="#veiculos_lista"
                            hx-trigger="click"
                    >
                        Limpar filtros
                    </button>
                    <button
                            class="btn btn-primary"
                            type="reset"
                            hx-get="/hackathon/veiculos/listar?marca=&modelo=&cor=&anofabricacao=&proximaPagina=false&numeroPagina={{numeroPagina}}"
                            hx-target="#veiculos_lista"
                            hx-trigger="click"
                    >
                        <
                    </button>
                    <input type="hidden" name="numeroPagina" value="{{numeroPagina}}">
                    <input type="hidden" name="proximaPagina" value="{{proximaPagina}}">
                    <div class="h5">{{numeroPagina}}</div>
                    <button
                            class="btn btn-primary"
                            type="reset"
                            hx-get="/hackathon/veiculos/listar?marca=&modelo=&cor=&anofabricacao=&proximaPagina=true&numeroPagina={{numeroPagina}}"
                            hx-target="#veiculos_lista"
                            hx-trigger="click"
                    >
                        >
                    </button>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Cor</th>
            <th>Ano Fabricação</th>
            <th>Custo Diaria</th>
            <th>Descrição Promocional</th>
            <th>Tipo Combustivel</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {{#each veiculos}}
            <tr>
                <td>{{marca}}</td>
                <td>{{modelo}}</td>
                <td>{{placa}}</td>
                <td>{{cor}}</td>
                <td>{{anofabricacao}}</td>
                <td>{{custodiaria}}</td>
                <td>{{discricacaopromocional}}</td>
                <td>{{tipocombustivel}}</td>
                <td class="gap-2">
                    <button
                            class="btn btn-primary"
                            hx-get="/hackathon/veiculos/edit?id={{id}}"
                    hx-target="#mustache_modal"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#veiculosModal"
                    >
                    Edit
                    </button>
                    <button
                            class="btn btn-danger"
                            hx-get="/hackathon/veiculos/delete?id={{id}}"
                    hx-target="#veiculos_lista"
                    hx-trigger="click"
                    >
                    Delete
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>