<tr>
    <td style="text-align: left;">{{marca}}</td>
    <td style="text-align: left;">{{modelo}}</td>
    <td style="text-align: left;">{{placa}}</td>
    <td style="text-align: left;">{{cor}}</td>
    <td style="text-align: left;">{{anoDeFabricacao}}</td>
    <td style="text-align: left;">{{custoDeDiaria}}</td>
    <td style="text-align: left;">{{descricaoPromocional}}</td>
    <td style="text-align: left;">{{tipoDeCombustivel}}</td>
    <td>
        <img src="https://img.icons8.com/?size=18&id=71201&format=png&color=000000"
             alt="Editar item"
             style="cursor: pointer"
             hx-target="#veiculosLista"
             hx-replace="innerHTML"
             hx-get="veiculosLista/edit?id={{id}}">

        <img src="https://img.icons8.com/?size=18&id=67884&format=png&color=000000"
             alt="Apagar item"
             style="cursor: pointer"
             hx-target="#veiculosTable"
             hx-select="#veiculosTable"
             hx-replace="innerHTML"
             hx-get="veiculosLista/delete?id={{id}}"
    </td>
</tr>