<form id="clienteForm">
    <input type="hidden" name="nm_cliente" value="{{nm_cliente}}">

    <div>
        <label>
            <span style="width: 50px; display: inline-block;margin-top:10px;">Nome:</span>
            <span>
                <input type="text" name="nome" maxlength="100" size="80" value="{{nm_cliente}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 50px; display: inline-block;margin-top:10px;">C.P.F:</span>
            <span>
                <input type="text" name="nr_cpf" maxlength="11" size="11" value="{{nr_cpf}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;">Data de nascimento:</span>
            <span>
                <input type="date" name="dt_nascimento" maxlength="10" size="10" value="{{dt_nascimento}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;">Telefone:</span>
            <span>
                <input type="text" name="nr_telefone" maxlength="10" size="10" value="{{nr_telefone}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;">E-mail:</span>
            <span>
                <input type="text" name="ds_email" maxlength="10" size="10" value="{{ds_email}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;">CEP:</span>
            <span>
                <input type="text" name="nr_cep" maxlength="8" size="8" value="{{nr_cep}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;">Cidade:</span>
            <span>
                <input type="text" name="nm_cidade" maxlength="8" size="8" value="{{nm_cidade}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;">Estado:</span>
            <span>
                <select name="nm_estado">
                    <option value="SC">Santa Catarina</option>
                    <option value="SC">São Paulo</option>
                </select>

                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;">Rua:</span>
            <span>
                <input type="text" name="nm_rua" maxlength="80" size="80" value="{{nm_rua}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
        <label>
            <span style="width: 150px; display: inline-block;margin-top:10px;">N°:</span>
            <span>
                <input type="text" name="nr_residencia" maxlength="6" size="6" value="{{nr_residencia}}">
                {{#with errors}}
                    {{#if basError}}
                        <span class="error">
                            Bas: {{basError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>



    <br>
    <button hx-target="#formAndTable"
            hx-select="#formAndTable"
            hx-swap="outerHTML"
            hx-post="foo/upsert"
            hx-include="[name='page']"
            style="display: inline-flex">
        <img src="https://img.icons8.com/?size=14&id=18764&format=png&color=000000" alt="Cadastrar item">
        &nbsp;
        {{#if bar}}
            Atualizar
        {{^}}
            Cadastrar
        {{/if}}
    </button>
    {{#if bar}}
        <button hx-target="#clienteForm"
                hx-select="#clienteForm"
                hx-swap="outerHTML"
                hx-get="foo/edit"
                style="display: inline-flex">
            <img src="https://img.icons8.com/?size=14&id=59754&format=png&color=000000" alt="Cadastrar Cliente">
            &nbsp;
            Cancelar
        </button>
    {{/if}}
</form>