<form id="clienteForm">
    <input type="hidden" name="id" value="{{id}}">

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Nome:</span>
            <span>
                <input type="text" name="nome" maxlength="60" size="60" value="{{nome}}">
                {{#with errors}}
                    {{#if nomeError}}
                        <span class="error">
                            Nome: {{nomeError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">CPF:</span>
            <span>
                <input type="text" name="cpf" size="14" maxlength="14" value="{{cpfFormat}}">
                {{#with errors}}
                    {{#if cpfError}}
                        <span class="error">
                            CPF: {{cpfError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Data Nascimento:</span>
            <span>
                <input type="date" name="dtNascimento" value="{{dtNascimentoFormat}}">
                {{#with errors}}
                    {{#if dtNascimentoError}}
                        <span class="error">
                            Data: {{dtNascimentoError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Telefone:</span>
            <span>
                <input type="text" name="telefone" value="{{telefone}}">
                {{#with errors}}
                    {{#if telefoneError}}
                        <span class="error">
                            Tel: {{telefoneError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Email:</span>
            <span>
                <input type="text" name="email" size="60" maxlength="60" value="{{email}}">
                {{#with errors}}
                    {{#if emailError}}
                        <span class="error">
                            Email: {{emailError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">CEP: </span>
            <span>
                <input type="text" id="cep" name="cep" size="9" maxlength="9" onblur="pesquisacep(this.value);"
                       value="{{cliente.cep}}">
                {{#with errors}}
                    {{#if cepError}}
                        <span class="error">
                            CEP: {{cepError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Estado:</span>
            <span>
                <select name="estado">
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                </select>
                {{#with errors}}
                    {{#if estadoError}}
                        <span class="error">
                            Estado: {{estadoError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Cidade:</span>
            <span>
                <input type="text" name="cidade" size="60" maxlength="60" value="{{cidade}}">
                {{#with errors}}
                    {{#if cidadeError}}
                        <span class="error">
                            Cidade: {{cidadeError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Bairro:</span>
            <span>
                <input type="text" name="bairro" size="60" maxlength="60" value="{{bairro}}">
                {{#with errors}}
                    {{#if bairroError}}
                        <span class="error">
                            Bairro: {{bairroError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Rua:</span>
            <span>
                <input type="text" name="rua" size="60" maxlength="60" value="{{rua}}">
                {{#with errors}}
                    {{#if ruaError}}
                        <span class="error">
                            Rua: {{ruaError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Número:</span>
            <span>
                <input type="number" name="numero" maxlength="6" size="6" value="{{numero}}">
                {{#with errors}}
                    {{#if numeroError}}
                        <span class="error">
                            Número: {{numeroError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <br>
    <button hx-target="#formAndTable"
            hx-select="#formAndTable"
            hx-swap="outerHTML"
            hx-post="cliente/upsert"
            hx-include="[name='page']"
            style="display: inline-flex">
        <img src="https://img.icons8.com/?size=14&id=18764&format=png&color=000000" alt="Cadastrar item">
        &nbsp;
        {{#if id}}
            Atualizar
        {{^}}
            Cadastrar
        {{/if}}
    </button>
    {{#if id}}
        <button hx-target="#clienteForm"
                hx-select="#clienteForm"
                hx-swap="outerHTML"
                hx-get="cliente/edit"
                style="display: inline-flex">
            <img src="https://img.icons8.com/?size=14&id=59754&format=png&color=000000" alt="Cadastrar item">
            &nbsp;
            Cancelar
        </button>
    {{/if}}
</form>