<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Cliente View</title>
    {{>head}}
</head>
    <body>

    <h1>Exemplo - Cadastro e consulta - Cliente</h1>
    <hr>

        <div id="formAndTable">
            {{>cliente/form cliente}}

            <hr>

            <div id="clienteItemsTable">
                <input type="hidden" name="page" value="{{index}}">

                <div style="display: inline-flex; padding-bottom: 12px;">
                    {{#if hasPrevious}}
                        <img src="https://img.icons8.com/?size=18&id=100033&format=png&color=000000"
                             alt="Página anterior"
                             style="cursor: pointer; width: 18px; height: 18px; padding-right: 4px"
                             hx-target="#clienteItemsTable"
                             hx-select="#clienteItemsTable"
                             hx-swap="innerHTML"
                             hx-get="cliente?page={{previous}}">
                    {{/if}}

                    <span style="height: 18px; vertical-align: center;">
                        Pagina <b>{{page}}</b> de <b>{{totalPages}}</b>
                    </span>

                    {{#if next}}
                        <img src="https://img.icons8.com/?size=18&id=98967&format=png&color=000000"
                             alt="Próxima página"
                             style="cursor: pointer; width: 18px; height: 18px; padding-left: 4px"
                             hx-target="#clienteItemsTable"
                             hx-select="#clienteItemsTable"
                             hx-swap="innerHTML"
                             hx-get="cliente?page={{next}}">
                    {{/if}}
                </div>

                <table>
                    <thead>
                    <tr>
                        <th style="width: 40px; text-align: right;">Nome</th>
                        <th style="width: 200px; text-align: left;">CPF</th>
                        <th style="width: 300px; text-align: left;">Email</th>
                        <th style="width: 50px">Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#clientes}}
                        {{>cliente/row}}
                    {{/clientes}}
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>