´<form id="clientForm">
    <div class="clientMain">
        <div class="clientName">
            <label for="name">Nome</label>
            <input type="text" name="name" maxlength="100" size="100" value="{{name}}">
<!--            {{#with errors}}-->
<!--                {{#if nameError}}-->
<!--                    <span class="error">-->
<!--                            Bas: {{nameError}}-->
<!--                        </span>-->
<!--                {{/if}}-->
<!--            {{/with}}-->
        </div>

        <div class="clientCpf">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" maxlength="11" size="11" value="{{cpf}}">
        </div>

        <div class="clientBirthDate">
            <label for="birthDate">Data de nascimento</label>
            <input type="date" name="birthDate" maxlength="10" size="10" value="{{bith_date}}">
        </div>

        <div class="clientPhone">
            <label for="phone">Telefone</label>
            <input type="text" name="phone" maxlength="14" size="14" value="{{phone}}">
        </div>

        <div class="clienEmail">
            <label for="email">E-mail</label>
            <input type="text" name="email" maxlength="100" size="100" value="{{email}}">
        </div>

        <div class="clientCep">
            <label for="cep">CEP</label>
            <input type="text" name="cep" maxlength="9" size="9" value="{{cep}}">
        </div>

        <div class="clientState">
            <label for="state">Estado</label>
            <select name="state">
                <option value="RJ">Rio de Janeiro</option>
            </select>
        </div>

        <div class="clientCity">
            <label for="city">Cidade</label>
            <input type="text" name="city" maxlength="100" size="100" value="{{city}}">

        </div>

        <div class="clientNeighborhood">
            <label for="neighborhood">Bairro</label>
            <input type="text" name="neighborhood" maxlength="100" size="100" value="{{neighborhood}}">
        </div>

        <div class="clientStreet">
            <label for="street">Rua</label>
            <input type="text" name="street" maxlength="100" size="100" value="{{street}}">
        </div>

        <div class="clientNumber">
            <label for="number">Número</label>
            <input type="text" name="number" maxlength="100" size="100" value="{{number}}">
        </div>

        <button hx-target="#formAndTable"
                hx-select="#formAndTable"
                hx-swap="outerHTML"
                hx-post="client/upsert">
            Cadastrar
        </button>
    </div>
</form>