<div id="formAndTable" style="padding:20px;">

    {{>client/listClient client}}

    <div id="clientItemsTable">
        <input type="hidden" name="page" value="{{index}}">

        <div style="display: inline-flex; padding-bottom: 12px;">
            {{#if hasPrevious}}
                <img src="https://img.icons8.com/?size=18&id=100033&format=png&color=000000"
                     alt="P치gina anterior"
                     style="cursor: pointer; width: 18px; height: 18px; padding-right: 4px"
                     hx-target="#clientItemsTable"
                     hx-select="#clientItemsTable"
                     hx-swap="innerHTML"
                     hx-get="client?page={{previous}}">
            {{/if}}

            <span style="height: 18px; vertical-align: center;">
                P치gina <b>{{page}}</b> de <b>{{totalPages}}</b>
            </span>

            {{#if next}}
                <img src="https://img.icons8.com/?size=18&id=98967&format=png&color=000000"
                     alt="Pr칩xima p치gina"
                     style="cursor: pointer; width: 18px; height: 18px; padding-left: 4px"
                     hx-target="#clientItemsTable"
                     hx-select="#clientItemsTable"
                     hx-swap="innerHTML"
                     hx-get="client?page={{next}}">
            {{/if}}
        </div>
    </div>

    <button style="margin-top: 25px;" hx-target="#formAndTable"
            hx-swap="outerHTML"
            hx-get="clientes/cadastro">
        <img src="https://img.icons8.com/?size=14&id=59754&format=png&color=000000" alt="Cadastra cliente">
        &nbsp;
        Cadastrar cliente
    </button>
</div>
</div>
</body>
</html>