<tr id="clientItem">
    <td>{{name}}</td>
    <td>{{cpf}}</td>
    <td>{{birthDate}}</td>
    <td>{{phone}}</td>
    <td>{{email}}</td>
    <td>{{cep}}</td>
    <td>{{state}}</td>
    <td>{{city}}</td>
    <td>{{neighborhood}}</td>
    <td>{{street}}</td>
    <td>{{number}}</td>
</tr>