<tr id="clientItem{{id}}">
    <td>{{id}}</td>
    <td>{{nome}}</td>
    <td>{{cpf}}</td>
    <td>{{email}}</td>
    <td>{{data_nascimento}}</td>
    <td>{{cidade}}</td>
    <td>{{estado}}</td>
    <td>{{bairro}}</td>
    <td>{{rua}}</td>
    <td>{{cep}}</td>
    <td>{{numero}}</td>
    <td style="width: 50px">
        <img src="https://img.icons8.com/?size=18&id=71201&format=png&color=000000"
             alt="Editar item"
             style="cursor: pointer"
             hx-target="#formAndTable"
             hx-replace="innerHTML"
             hx-get="clientes/edit?id={{id}}">

        <img src="https://img.icons8.com/?size=18&id=67884&format=png&color=000000"
             alt="Apagar item"
             style="cursor: pointer"
             hx-target="#formAndTable"
             hx-select="#formAndTable"
             hx-replace="innerHTML"
             hx-get="clientes/delete?id={{id}}"
            hx-include="[name='pageClient']">
    </td>
</tr>