<div class="modal-content">
    <form hx-post="/hackathon/clientes/save" hx-target="#cliente_lista" id="clienteForm">
        <div class="modal-header">
            {{#if id}}
                <h1 class="modal-title fs-5" id="exampleModalLabel">Altere Cliente</h1>
            {{else}}
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Cliente</h1>
            {{/if}}
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="id" name="id" value="{{id}}">
            <div class="mb-3">
                <label for="title" class="form-label">Nome</label>
                <input
                        type="text"
                        class="form-control"
                        id="nome"
                        name="nome"
                        placeholder="Nome do cliente"
                        value="{{nome}}"
                >
            </div>

            <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input
                        type="text"
                        class="form-control"
                        id="cpf"
                        name="cpf"
                        maxlength="14"
                        size="14"
                        value="{{cpf}}"

                >
            </div>

            <div class="mb-3">
                <label for="dataNascimento" class="form-label">Data</label>
                <input
                        type="date"
                        class="form-control"
                        id="dataNascimento"
                        name="dataNascimento"
                        value="{{dataNascimento}}"
                >
            </div>

            <div class="mb-3">
                <label for="telefone_completo" class="form-label">Telefone</label>
                <div class="input-group">
                    <span class="input-group-text">DDD</span>
                    <input
                            type="number"
                            class="form-control"
                            id="ddd"
                            name="ddd"
                            placeholder="(XX)"
                            value="{{ddd}}"
                    >
                    <input
                            type="tel"
                            class="form-control"
                            id="telefone"
                            name="telefone"
                            placeholder="XXXXX-XXXX"
                            value="{{telefone}}"
                    >
                </div>
            </div>

            <div class="mb-3">
                <label for="cep" class="form-label">CEP</label>
                <input
                        type="number"
                        class="form-control"
                        id="cep"
                        name="cep"
                        value="{{cep}}"
                >
            </div>

            <div class="mb-3">
                <label for="cidade" class="form-label">Cidade</label>
                <input
                        type="text"
                        class="form-control"
                        id="cidade"
                        name="cidade"
                        value="{{cidade}}"
                >
            </div>

            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <select id="estado" name="estado" class="form-select">
                    <option value="Vazio"></option>
                    <option value="SC" {{#if (eq estado "SC")}}selected{{/if}}>SC</option>
                    <option value="RS" {{#if (eq estado "RS")}}selected{{/if}}>RS</option>
                    <option value="PR" {{#if (eq estado "PR")}}selected{{/if}}>PR</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="bairro" class="form-label">Bairro</label>
                <input
                        type="text"
                        class="form-control"
                        id="bairro"
                        name="bairro"
                        value="{{bairro}}"
                >
            </div>

            <div class="mb-3">
                <label for="rua" class="form-label">Rua</label>
                <input
                        type="text"
                        class="form-control"
                        id="rua"
                        name="rua"
                        value="{{rua}}"
                >
            </div>

            <div class="mb-3">
                <label for="numero" class="form-label">Número</label>
                <input
                        type="number"
                        class="form-control"
                        id="numero"
                        name="numero"
                        value="{{numero}}"
                >
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Informe seu e-mail"
                        value="{{email}}"
                >
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
        </div>
    </form>
</div>
