<div class="container text-center" id="cliente_lista">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Bairro</th>
            <th>Rua</th>
            <th>Número</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {{#each clientes}}
            <tr>
                <td>{{nome}}</td>
                <td>{{cpf}}</td>
                <td>{{dataNascimento}}</td>
                <td>{{ddd}} - {{telefone}}</td>
                <td>{{email}}</td>
                <td>{{cidade}}</td>
                <td>{{estado}}</td>
                <td>{{bairro}}</td>
                <td>{{rua}}</td>
                <td>{{numero}}</td>
                <td class="gap-2">
                    <button
                            class="btn btn-primary"
                            hx-get="/hackathon/clientes/edit?id={{id}}"
                            hx-target="#mustache_modal"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#clienteModal"
                    >
                        Editar
                    </button>
                    <button
                            class="btn btn-danger"
                            hx-get="/hackathon/clientes/delete?id={{id}}"
                            hx-target="#cliente_lista"
                            hx-trigger="click"
                    >
                        Deletar
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>