<input type="hidden" name="id" value="{{cliente.id}}">
<div class="form-group">
    <!-- Campo Nome -->
    <label for="nome">Nome:</label>
    <input type="text"  id="nome" name="nome" maxlength="60" size="60" value="{{cliente.nome}}">
    {{#with errors}}
        {{#if nomeErro}}
            <span class="error text-danger">
                {{nomeErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo CPF -->
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" maxlength="14" size="14" value="{{cliente.cpf}}">
    {{#with errors}}
        {{#if cpfErro}}
            <span class="error text-danger">
                {{cpfErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo Data de Nascimento -->
    <label for="dataNascimento">Data de nascimento:</label>
    <input type="date" id="data_nascimento" name="data_nascimento" size="8" value="{{cliente.data_nascimento}}">
    {{#with errors}}
        {{#if dataErro}}
            <span class="error text-danger">
                {{dataErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo Telefone -->
    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" name="telefone" maxlength="10" size="10" value="{{cliente.telefone}}">
    {{#with errors}}
        {{#if telefoneErro}}
            <span class="error text-danger">
                {{telefoneErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo E-mail -->
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" maxlength="60" size="60" value="{{cliente.email}}">
    {{#with errors}}
        {{#if emailErro}}
            <span class="error text-danger">
                {{emailErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo CEP -->
    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep" maxlength="9" size="9" onchange="getCep(this.value)" value="{{cliente.cep}}">
    {{#with errors}}
        {{#if cepErro}}
            <span class="error text-danger">
                {{cepErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo Cidade -->
    <label for="cidade">Cidade:</label>
    <input type="text" id="cidade" name="cidade" maxlength="60" size="60" value="{{cliente.cidade}}">
    {{#with errors}}
        {{#if cidadeErro}}
            <span class="error text-danger">
                {{cidadeErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo Estado -->
    <label for="estado">Estado:</label>
    <input type="text" id="estado" name="estado" maxlength="2" size="2" value="{{cliente.estado}}">
    {{#with errors}}
        {{#if estadoErro}}
            <span class="error text-danger">
                {{estadoErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo Bairro -->
    <label for="bairro">Bairro:</label>
    <input type="text" id="bairro" name="bairro" maxlength="60" size="60" value="{{cliente.bairro}}">
    {{#with errors}}
        {{#if bairroErro}}
            <span class="error text-danger">
                {{bairroErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo Rua -->
    <label for="rua">Rua:</label>
    <input type="text" id="rua" name="rua" maxlength="60" size="60" value="{{cliente.rua}}">
    {{#with errors}}
        {{#if ruaErro}}
            <span class="error text-danger">
                {{ruaErro}}
            </span>
        {{/if}}
    {{/with}}
</div>

<div class="form-group">
    <!-- Campo Número -->
    <label for="numero">Número:</label>
    <input type="text" id="numero" name="numero" maxlength="5" size="5" value="{{#if (eq cliente.numero 0)}}{{else}}{{cliente.numero}}{{/if}}">
    {{#with errors}}
        {{#if numeroErro}}
            <span class="error text-danger">
                {{numeroErro}}
            </span>
        {{/if}}
    {{/with}}
    {{#with success}}
        {{#if message}}
            <span class="alert alert-success">
                {{message}}
            </span>
        {{/if}}
    {{/with}}
</div>

<button hx-target="form"
        style="display: inline-flex">
        {{#if (eq cliente.id 0)}}
            <img src="https://img.icons8.com/?size=14&id=18764&format=png&color=000000" alt="Cadastrar">
            &nbsp;
            Cadastrar
        {{^}}
            Atualizar
        {{/if}}
</button>