<tr>
    <td style="text-align: left;">{{nome}}</td>
    <td style="text-align: left;">{{telefone}}</td>
    <td style="text-align: left;">{{cpf}}</td>
    <td style="text-align: left;">{{email}}</td>
    <td style="text-align: left;">{{cidade}}</td>
    <td style="text-align: left;">{{estado}}</td>
    <td style="text-align: right;">{{percentual}}</td>
    <td style="text-align: left;">{{dataContratacao}}</td>
    <td>
        <img src="https://img.icons8.com/?size=18&id=71201&format=png&color=000000"
             alt="Editar item"
             style="cursor: pointer"
             hx-target="#gerentesLista"
             hx-replace="innerHTML"
             hx-get="gerentesLista/edit?id={{id}}">

        <img src="https://img.icons8.com/?size=18&id=67884&format=png&color=000000"
             alt="Apagar item"
             style="cursor: pointer"
             hx-target="#gerentesTable"
             hx-select="#gerentesTable"
             hx-replace="innerHTML"
             hx-get="gerentesLista/delete?id={{id}}"
    </td>
</tr>