<form id="veiculoForm">
    <input type="hidden" name="veiculo" value="{{veiculo}}">

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Marca:</span>
            <span>
                <input type="text" name="marca" maxlength="30" size="30" value="{{marca}}">
                {{#with errors}}
                    {{#if marcaError}}
                        <span class="error">
                            Marca: {{marcaError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Modelo:</span>
            <span>
                <input type="text" name="modelo" maxlength="60" size="60" value="{{modelo}}">
                {{#with errors}}
                    {{#if modeloError}}
                        <span class="error">
                            Modelo: {{modeloError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Placa:</span>
            <span>
                <input type="text" name="placa" maxlength="7" size="7" value="{{placa}}">
                {{#with errors}}
                    {{#if placaError}}
                        <span class="error">
                            Placa: {{placaError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Cor:</span>
            <span>
                <input type="text" name="cor" maxlength="30" size="30" value="{{cor}}">
                {{#with errors}}
                    {{#if corError}}
                        <span class="error">
                            Cor: {{corError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Ano de Fabricação:</span>
            <span>
                <input type="number" name="anoFabrica" maxlength="4" size="4" value="{{anoFabrica}}">
                {{#with errors}}
                    {{#if anoFabricaError}}
                        <span class="error">
                            Ano de Fabricação: {{anoFabricaError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Custo Diária:</span>
            <span>
                <input type="number" step="0.01" name="custoDiaria" maxlength="7" size="7" value="{{custoDiaria}}">
                {{#with errors}}
                    {{#if custoDiariaError}}
                        <span class="error">
                            Custo Diária: {{custoDiariaError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Descrição:</span>
            <span>
                <textarea name="descricao" maxlength="8000" rows="4" cols="50">{{descricao}}</textarea>
                {{#with errors}}
                    {{#if descricaoError}}
                        <span class="error">
                            Descrição: {{descricaoError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Tipo de Combustível:</span>
            <span>
                <select name="tipoCombustivel">
                    <option value="1" {{#if (eq tipoCombustivel 1)}}selected{{/if}}>Gasolina</option>
                    <option value="2" {{#if (eq tipoCombustivel 2)}}selected{{/if}}>Diesel</option>
                    <option value="3" {{#if (eq tipoCombustivel 3)}}selected{{/if}}>Gás</option>
                    <option value="4" {{#if (eq tipoCombustivel 4)}}selected{{/if}}>Elétrico</option>
                </select>
                {{#with errors}}
                    {{#if tipoCombustivelError}}
                        <span class="error">
                            Tipo de Combustível: {{tipoCombustivelError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <br>
    <button hx-target="#formAndTable"
            hx-select="#formAndTable"
            hx-swap="outerHTML"
            hx-post="veiculo/upsert"
            hx-include="[name='page']"
            style="display: inline-flex">
        <img src="https://img.icons8.com/?size=14&id=18764&format=png&color=000000" alt="Cadastrar item">
        &nbsp;
        {{#if id}}
            Atualizar
        {{^}}
            Cadastrar
        {{/if}}
    </button>
    {{#if id}}
        <button hx-target="#veiculoForm"
                hx-select="#veiculoForm"
                hx-swap="outerHTML"
                hx-get="veiculo/edit"
                style="display: inline-flex">
            <img src="https://img.icons8.com/?size=14&id=59754&format=png&color=000000" alt="Cadastrar item">
            &nbsp;
            Cancelar
        </button>
    {{/if}}
</form>