<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Veiculos View</title>
    {{>head}}
</head>
<body>
{{>menu}}
<h1>Cadastro de Veiculos</h1>
<hr>

<div id="formAndTable">
    {{>veiculo/form veiculo}}

    <hr>

    <div id="veiculoItemsTable">
        <input type="hidden" name="page" value="{{index}}">

        <div style="display: inline-flex; padding-bottom: 12px;">
            {{#if hasPrevious}}
                <img src="https://img.icons8.com/?size=18&id=100033&format=png&color=000000"
                     alt="Página anterior"
                     style="cursor: pointer; width: 18px; height: 18px; padding-right: 4px"
                     hx-target="#veiculoItemsTable"
                     hx-select="#veiculoItemsTable"
                     hx-swap="innerHTML"
                     hx-get="veiculo?page={{previous}}">
            {{/if}}

            <span style="height: 18px; vertical-align: center;">
                Pagina <b>{{page}}</b> de <b>{{totalPages}}</b>
            </span>

            {{#if next}}
                <img src="https://img.icons8.com/?size=18&id=98967&format=png&color=000000"
                     alt="Próxima página"
                     style="cursor: pointer; width: 18px; height: 18px; padding-left: 4px"
                     hx-target="#veiculoItemsTable"
                     hx-select="#veiculoItemsTable"
                     hx-swap="innerHTML"
                     hx-get="veiculo?page={{next}}">
            {{/if}}
        </div>

        <table>
            <thead>
            <tr>
                <th style="width: 40px; text-align: right;">Código</th>
                <th style="width: 200px; text-align: left; cursor:pointer;">Placa <span style="cursor:pointer;" hx-target="#veiculoItemsTable" hx-select="#gerenteItemsTable"  hx-get="locacao?page={{index}}&orderBy=NOME:ASC">^</span> <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="locacao?page={{index}}&orderBy=NOME:DESC">v</span></th>
                <th style="width: 300px; text-align: left;">Cor</th>
                <th style="width: 300px; text-align: left;">Ano de fabricação</th>
                <th style="width: 300px; text-align: left;">Valor diário</th>
                <th style="width: 300px; text-align: left;  cursor:pointer;">Promoção ativa? <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="locacao?page={{index}}&orderBy=CIDADE:ASC">^</span> <span style="cursor:pointer;" hx-target="#gerenteItemsTable" hx-select="#gerenteItemsTable"  hx-get="locacao?page={{index}}&orderBy=CIDADE:DESC">v</span></th>
                <th style="width: 300px; text-align: left;">Descrição da promoção</th>
                <th style="width: 300px; text-align: left;">Combustível</th>
                <th style="width: 300px; text-align: left;">Marca</th>
                <th style="width: 300px; text-align: left;">Modelo</th>
                <th style="width: 50px">Ação</th>
            </tr>
            </thead>
            <tbody>
            {{#veiculos}}
                {{>veiculo/row}}
            {{/veiculos}}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>