<tr id="veiculoItem{{placa}}">
    <td style="width: 40px; text-align: right;">{{placa}}</td>
    <td style="width: 200px; text-align: left;">{{marca}}</td>
    <td style="width: 300px; text-align: left;">{{modelo}}</td>
    <td style="width: 50px">
        <img src="https://img.icons8.com/?size=18&id=71201&format=png&color=000000"
             alt="Editar item"
             style="cursor: pointer"
             hx-target="#veiculoForm"
             hx-replace="innerHTML"
             hx-get="veiculo/edit?placa={{placa}}">

        <img src="https://img.icons8.com/?size=18&id=67884&format=png&color=000000"
             alt="Apagar item"
             style="cursor: pointer"
             hx-target="#formAndTable"
             hx-select="#formAndTable"
             hx-replace="innerHTML"
             hx-get="veiculo/delete?placa={{placa}}"
        hx-include="[name='page']">
    </td>
</tr>