<tr id="gerenteItem{{cdgerente}}">
    <td style="width: 40px; text-align: right;">{{cdgerente}}</td>
    <td style="width: 200px; text-align: left;">{{nome}}</td>
    <td style="width: 300px; text-align: left;">{{cpf}}</td>
    <td style="width: 300px; text-align: left;">{{telefone}}</td>
    <td style="width: 300px; text-align: left;">{{email}}</td>
    <td style="width: 300px; text-align: left;">{{cidade}}</td>
    <td style="width: 300px; text-align: left;">{{estado}}</td>
    <td style="width: 300px; text-align: left;">{{pccomissao}}</td>
    <td style="width: 300px; text-align: left;">{{dtcontratacao}}</td>

    <td style="width: 50px">
        <img src="https://img.icons8.com/?size=18&id=71201&format=png&color=000000"
             alt="Editar item"
             style="cursor: pointer"
             hx-target="#gerenteForm"
             hx-replace="innerHTML"
             hx-get="veiculo/edit?CDGERENTE={{cdgerente}}">

        <img src="https://img.icons8.com/?size=18&id=67884&format=png&color=000000"
             alt="Apagar item"
             style="cursor: pointer"
             hx-target="#formAndTable"
             hx-select="#formAndTable"
             hx-replace="innerHTML"
             hx-get="veiculo/delete?CDGERENTE={{cdgerente}}"
             hx-include="[name='page']">
    </td>
</tr>