<form id="locacaoForm">
    <input type="hidden" name="locacao.id" value="{{locacao.id}}">

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Cliente:</span>
            <span>
                <select name="cliente">
                    <option value=""></option>
                    {{#clientes}}
                        <option value="{{this.id}}" {{#if (eq locacao.cliente this.id)}}selected{{/if}}>{{this.nome}}</option>
                    {{/clientes}}
                </select>
                {{#with errors}}
                    {{#if clienteError}}
                        <span class="error">
                            Cliente: {{clienteError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Gerente:</span>
            <span>
                <select name="gerente">
                    <option value=""></option>
                    {{#gerentes}}
                        <option value="{{this.id}}" {{#if (eq locacao.gerente this.id)}}selected{{/if}}>{{this.nome}}</option>
                    {{/gerentes}}
                </select>
                {{#with errors}}
                    {{#if gerenteError}}
                        <span class="error">
                            Gerente: {{gerenteError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <div>
        <label>
            <span style="width: 120px; display: inline-block;">Veiculo:</span>
            <span>
                <select name="veiculo">
                    <option value=""></option>
                    {{#veiculos}}
                        <option value="{{this.id}}" {{#if (eq locacao.veiculo this.id)}}selected{{/if}}>{{this.marca}} - {{this.modelo}} - {{this.placa}}</option>
                    {{/veiculos}}
                </select>
                {{#with errors}}
                    {{#if veiculoError}}
                        <span class="error">
                            Veiculo: {{veiculoError}}
                        </span>
                    {{/if}}
                {{/with}}
            </span>
            <br>
        </label>
    </div>

    <br>
    <button hx-target="#formAndTable"
            hx-select="#formAndTable"
            hx-swap="outerHTML"
            hx-post="locacao/upsert"
            hx-include="[name='page']"
            style="display: inline-flex">
        <img src="https://img.icons8.com/?size=14&id=18764&format=png&color=000000" alt="Cadastrar item">
        &nbsp;
        {{#if locacao.id}}
            Atualizar
        {{^}}
            Cadastrar
        {{/if}}
    </button>
    {{#if locacao.id}}
        <button hx-target="#locacaoForm"
                hx-select="#locacaoForm"
                hx-swap="outerHTML"
                hx-get="locacao/edit"
                style="display: inline-flex">
            <img src="https://img.icons8.com/?size=14&id=59754&format=png&color=000000" alt="Cadastrar item">
            &nbsp;
            Cancelar
        </button>
    {{/if}}
</form>