<tr>
    <td style="text-align: left;">{{cliente}}</td>
    <td style="text-align: left;">{{gerente}}</td>
    <td style="text-align: left;">{{veiculo}}</td>
    <td style="text-align: left;">{{dataInicio}}</td>
    <td style="text-align: left;">{{dataFinal}}</td>
    <td style="text-align: left;">{{valorDiaria}}</td>
    <td style="text-align: left;">{{comissao}}</td>
    <td style="text-align: left;">{{valorTotal}}</td>
    <td>
        <img src="https://img.icons8.com/?size=18&id=71201&format=png&color=000000"
             alt="Editar item"
             style="cursor: pointer"
             hx-target="#gerentesLista"
             hx-replace="innerHTML"
             hx-get="gerentesLista/edit?id={{id}}">

        <img src="https://img.icons8.com/?size=18&id=67884&format=png&color=000000"
             alt="Apagar item"
             style="cursor: pointer"
             hx-target="#gerentesTable"
             hx-select="#gerentesTable"
             hx-replace="innerHTML"
             hx-get="gerentesLista/delete?id={{id}}"
    </td>
</tr>