<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Foo View</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
</head>
<body>

<h1>Exemplo - Cadastro e consulta - Foo</h1>
<hr>

<div id="formAndTable">
    {{>fooViewEdit foo}}

    <hr>

    <div id="fooItemsTable">
        <input type="hidden" name="page" value="{{index}}">

        <div style="display: inline-flex; padding-bottom: 12px;">
            {{#if hasPrevious}}
                <img src="https://img.icons8.com/?size=18&id=100033&format=png&color=000000"
                     alt="Página anterior"
                     style="cursor: pointer; width: 18px; height: 18px; padding-right: 4px"
                     hx-target="#fooItemsTable"
                     hx-select="#fooItemsTable"
                     hx-swap="innerHTML"
                     hx-get="foo?page={{previous}}">
            {{/if}}

            <span style="height: 18px; vertical-align: center;">
                Pagina <b>{{page}}</b> de <b>{{totalPages}}</b>
            </span>

            {{#if next}}
                <img src="https://img.icons8.com/?size=18&id=98967&format=png&color=000000"
                     alt="Próxima página"
                     style="cursor: pointer; width: 18px; height: 18px; padding-left: 4px"
                     hx-target="#fooItemsTable"
                     hx-select="#fooItemsTable"
                     hx-swap="innerHTML"
                     hx-get="foo?page={{next}}">
            {{/if}}
        </div>

        <table>
            <thead>
            <tr>
                <th style="width: 40px; text-align: right;">Foo</th>
                <th style="width: 200px; text-align: left;">Bar</th>
                <th style="width: 300px; text-align: left;">Bas</th>
                <th style="width: 50px">Ação</th>
            </tr>
            </thead>
            <tbody>
            {{#foos}}
                {{>fooViewTableItem}}
            {{/foos}}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>